# General
.DS_Store
*.env
.env.*
!/.env.example


# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
pip-wheel-metadata/
develop-eggs/
*.egg-info/
dist/
build/
eggs/
parts/
bin/
include/
lib64/
share/
*.log
*.pot
*.pyc